.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.calculatorBase {
    height: 500px;
    width: 300px;
    border-radius: 5vw;

    background-color: #fadcd9;
}

.calculatorDisplay {
    margin-top: 10%;
    background-color: #e0faff;
    height: 10%;
    width: 80%;
    align-self: center;
    justify-content: flex-end;
    align-items: center;
}

.calculatorDisplay p {
    overflow: auto;
    padding-right: 5%
}

.buttonRow {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    height: 12%;
}

.buttonRow > button {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    min-width: 10%;
    min-height: 10%;
    height: 5vh;
    width: 5vw;
    background-color: white;
    border: 0;
    border-radius: 3vh;
}

.buttonRow > button:active {
    background-color: gray;
}

.buttonRow .specialButton {
    height: 50%;
    width: 30%;
    border-radius: 5px;
}

